* {
  box-sizing: border-box;
}

article p {
  padding: 3rem;
  background-color: orange;
  margin: 1rem;
  border: 2px solid black;
}

h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  border-bottom-left-radius: 10px;
}

figure {
  border: 2px solid gray;
  padding: 3rem;
}

header img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav {
  background-color: aliceblue;
  padding: 3rem;
}

footer {
  border-top: 2px;
}
